@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --text-color: #000000;
  --primary: #007bff;
}

[data-theme="dark"] {
  --background: #1f1f1f;
  --text-color: #ffffff;
  --primary: #177ddc;
}

[data-theme="high-contrast-light"] {
  --background: #ffffff;
  --text-color: #000000;
  --primary: #ff0000;
}

[data-theme="high-contrast-dark"] {
  --background: #000000;
  --text-color: #00ff00;
  --primary: #00ff00;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--background);
  color: var(--text-color);
}

.button-primary {
  background-color: var(--primary);
}
